<%= link_to "新規投稿する","/users/new"%>

<% @users.each do |user| %>
 <p>
   <%= user.name %>
   <%= user.age %>
   <%= link_to "削除する","/users/#{user.id}",method: :delete,data:{confirm:"削除しますか?"} %>
   <%= link_to "編集する","/users/#{user.id}/edit", method: :get %>
  </p>
<% end %>
