<%= link_to "新規投稿する", new_user_path %>

<% @users.each do |user| %>
 <p>
   <%= user.name %>
   <%= user.age %>
   <%= link_to "詳細",user_path(user.id) %>
   <%= link_to "編集する", edit_user_path(user.id) , method: :get %>
   <%= link_to "削除する", user_path(user.id) , method: :delete,data:{confirm:"削除しますか?"} %>

  </p>
<% end %>
